# Core functionality - changes here should be rare!
/src/app.py                   @binayakbishnu
/src/backend/database.py      @binayakbishnu
/src/backend/routers/auth.py  @binayakbishnu

# The frontend will need refactored soon to be more object oriented.
/src/static/   @binayakbishnu
